@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: none;
}
html, body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.candidates-div {
  /* background-color: red; */
  /* border:5px solid white;
  border-radius: 15px; */
  display:flex;
  flex-direction: row;
  padding:40px;
  gap:30px;
  flex-wrap:wrap;
}